<div id="main" class="<%= item.layout %>" itemscope itemprop="blogPost">
	<article itemprop="articleBody"> 
		<%- partial('header') %>
	<div class="article-content">
		<%- partial('gallery') %>
		<% if( table&&(item.toc !== false) && theme.toc.article){ %>
		<div id="toc" class="toc-article">
			<strong class="toc-title"><%= __('contents') %></strong>
		<% if(item.list_number == false) {%>
		<%- toc(item.content,{list_number:false}) %>
		<% }else{ %>
			<%- toc(item.content) %>
		<% } %>
		</div>
		<% } %>
		<%- item.content %>  
		<hr>
<ul>
<li>本文是笔者的学习笔记，文中涉及的一些知识点参考自网上的书籍、博客，版权归原作者所有。同时本文中的一些地方为了讲明白知识，说法可能不严谨，但主旨是，希望帮助您理解问题。</li>
<li>笔者会不定时的更新、修改文中的错误，所以，您此时所看到的可能不是最终版的，因此，请持续关注本文的最新动态。</li>
<li>笔者水品有限，如果有错误之处，恳请您不吝赐教；加以斧正。</li>
</ul>
<br>
	</div>
		<%- partial('footer') %>   	       
	</article>
	<%- partial('pagination') %>
	<%- partial('comment') %>
</div>  